/* ========================================
GENERAL CSS
=========================================== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.active {
    color: white;
}

.home {
    background: rgb(214, 214, 214);
}

.about {
    background: rgb(214, 214, 214);
}

.daily {
    background: rgb(214, 214, 214);
}

.games {
    background: rgb(214, 214, 214);
}

.games-view {
    background: rgb(214, 214, 214);
}

.contact {
    background: rgb(214, 214, 214);
}

.gallery {
    background: rgb(214, 214, 214);
}

.center {
    text-align: center;
}

header {
    margin-bottom: 20px;
    background: rgb(36, 36, 36);
    overflow: hidden;
    padding-bottom: 20px;
}

.inner-header {
    width: 940px;
    margin: 20px auto;
}

#logo {
    width: 150px;
    float: left;
}

nav ul {
    float: right;
    margin-top: 20px;
}

nav li {
    float: left;
    margin-left: 15px;
    list-style-type: none;
}

nav a {
    color: rgb(104, 144, 255);
    text-decoration: none;
}

#wrapper {
    clear: both;
    width: 940px;
    margin: 0 auto;
}

main {
    width: 540px;
    float: left;
    margin-bottom: 10px;
}

aside {
    width: 380px;
    margin-top: 15px;
    float: right;
}

#gallery-aside {
    text-align: center;
    line-height: 1.5em;
}

aside img {
    margin: 10px auto 15px auto;
}

footer {
    height: 50px;
    line-height: 50px;
    border-top: 1px dotted black;
    clear: both;
}

footer li {
    float: left;
    margin-right: 30px;
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

/* Random home page image */
#wrapper img {
    margin: 0 auto;
}

blockquote {
    font-size: 1.4em;
    margin: 20px 100px;
}

.home h1 {
    font-size: 3em;
    font-weight: 200;
    margin-bottom: 12px;
}

h1 {
    font-size: 2em;
    font-weight: 200;
    margin-bottom: 9px;
}

h1, h2, h3 {
    text-shadow: 1px 1px 4px rgb(173, 173, 173);
}

p {
    margin-bottom: 20px;
    text-shadow: 1px 1px 4px rgb(173, 173, 173);
}

table {
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.screenshots td:nth-child(1),
.screenshots td:nth-child(2) {
    width: 150px;
}

.screenshots td:nth-child(2) {
    padding-left: 20px;
}


/* ========================================
FORM CSS
=========================================== */

form {
    max-width: 580px;
    margin-bottom: 20px;
}

input {
    margin-bottom: 10px;
}

input[type=text],
input[type=email],
input[type=phone],
textarea {
    width: 100%;
    height: 30px;
}

textarea {
    height: 120px;
    margin-bottom: 20px;
}

fieldset {
    color: #666666;
    padding: 10px 15px 10px 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.box {
    width: 600px;
    margin: 20px auto;
    background: beige;
    padding: 20px;
    border: 1px solid green;
}

select {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    list-style-position: inside;
}

.formError {
    display: block;
    color: brown;
    font-style: italic;
}